/* Universal styles */

* {

}

html {
 font-size: 20px;
}

/* Fonts */
@font-face {
    font-family: "playfair";
    src: url('resources/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "sixcaps";
    src: url('resources/fonts/Six_Caps/SixCaps-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "smoochsans";
    src: url('resources/fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf') format('truetype');
}

/* Header */

/* Mission Statement */

/* Hospitality Portfolio */

/* Our Team*/

/* Footer */