/* Universal styles */

* {

}

html {
 font-size: 20px;

}

figcaption {
  font-family: "playfair";
  text-align: center;
}
/* Fonts */
@font-face {
  font-family: "playfair";
  src: url("fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "sixcaps";
  src: url('fonts/Six_Caps/SixCaps-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "smoochsans";
  src: url('fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf') format('truetype');
}

/* Header */


header {
  height: auto;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

header .content {
  display: flex;

}

header .logo {
  flex: 1;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 10%;
  
}


header .logo img {
  height: 3em;
  margin-top: 0px;
  
}

.header-content nav ul {
  display: flex;
  font-size: 1rem;
  list-style-type: none;
  padding-left: 3rem;
  padding-top: 0.75em;
  height: auto;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 30px;
}

.header-content nav a {
  text-decoration: none;
  color: black;
  font-family: "smoochsans";
  display: inline;
  padding-left: 3rem;

}

/* Mission Statement */

.mission-statement {
  
  margin-top: 5rem;
  text-align: center;
  background-image: url("images/main-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.mission-container {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.mission-container .banner {
  height: 100px;
  width: 100%;
}

#banner-heading1 {
  font-family: "sixcaps";
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#banner-heading2 {
  font-family: "smoochsans";
  color: white;
}

/* Hospitality Portfolio */


.hospitality-head {
  text-align: center;
}

#hospitality-head1 {
  font-family: "sixcaps";
  letter-spacing: 0.2rem;
}

#hospitality-head2 {
  font-family: "smoochsans";
}

#flex-portfolio {
  display: flex;
  height: auto;
  justify-content: center;
  align-content: space-between;
  flex-shrink: 1;
  flex-wrap: wrap;

}

.hospitality main img {
  height: 200px;
  flex: 1 1 0;
}

/* Our Team*/

.team-head h1 {
  text-align: center;
  font-family: "sixcaps";
  font-size: 2em;
  letter-spacing: 0.2rem;
}

.team-members {
  height: 500px;
  width: 100%;


}

#flex-team {
  display: flex;
  height: auto;
  justify-content: center;
  align-content: space-between;
  flex-shrink: 1;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.team-members .member {
  justify-self: center;
  height: auto;
  flex: 1 1 0;
}

.member img {
display: block;
margin: auto;
}

.member p {
  text-align: center;
  font-size: 1rem;
  color: gray;
}

.member h2 {
  font-family: "smoochsans";
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
/* Footer */

footer {
  display: flex;
  background-color: gray;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  
}
.contact-info p {
  display: flex;
  height: auto;
  font-family: "smoochsans";
  justify-content: flex-start;
  margin-left: 20px; 
}

.copyright {
  display: flex;
  height: auto;
  float: right;
  font-family: "playfair";
  font-size: 0.5rem;
  width: 100%;
  justify-content: flex-end;
  padding-top: 10%;
  margin-right: 20px; 
}