/* Universal styles */

* {
  background-color: white;
}

html {
 font-size: 20px;

}

/* Fonts */
@font-face {
  font-family: "playfair";
  src: url("fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "sixcaps";
  src: url('fonts/Six_Caps/SixCaps-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "smoochsans";
  src: url('fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf') format('truetype');
}

/* Header */


header {
  height: auto;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
}

header .content {
  display: flex;

}

header .logo {
  flex: 1;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 10%;
  
}


header .logo img {
  height: 3em;
  margin-top: 0px;
  
}

.header-content nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 3rem;
  padding-top: 0.75em;
  height: auto;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 30px;
}

.header-content nav a {
  text-decoration: none;
  color: black;
  font-family: "playfair";
  display: inline;
  padding-left: 3rem;

}

/* Mission Statement */

.mission-statement {
  margin-top: 5rem;
}
/* Hospitality Portfolio */

/* Our Team*/

/* Footer */